{{#extends 'base'}}

{{#block 'content'}}
<h1>Movies</h1>

<table class="table">
    <thead>
        <tr>
            <th>Country Id</th>
            <th>Country</th>
            <th>Last Update</th>
            <th></th>
        </tr>
    </thead>
    {{#each country}}
        <tr>
            <td>{{this.country_id}}</td>
            <td>{{this.country}}</td>
            <td>{{this.last_update}}</td>
            <td><a href="/country/{{this.country_id}}/edit" class="btn btn-primary btn-sm">Edit</a></td>
        </tr>
    {{/each}}
</table>

{{/block}}
{{/extends}}