{{#extends 'base'}}

{{#block 'content'}}
<h1>Editing Country: {{country.country_id}}</h1>
 
<form method="POST">
    <div>
        <label>Country</label>
        <input type="text" class="form-control" name="country" value="{{country.country}}"/>
    </div>
    <input type="submit" value="Update Country" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}