{{#extends 'base'}}

{{#block 'content'}}
<h1>Editing Actor: {{actor.actor_id}}</h1>
 
<form method="POST">
    <div>
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name" value="{{actor.first_name}}"/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name" value="{{actor.last_name}}"/>
    </div>
    <input type="submit" value="Update Actor" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}